{{ if .Site.DisqusShortname }}
    <div class="comments">
        {{ template "_internal/disqus.html" . }}
    </div>
{{ else if .Site.Params.UtterancesRepo }}
	<div class="comments">
		<script src="https://utteranc.es/client.js"
				repo="{{ .Site.Params.UtterancesRepo }}"
				issue-term="{{ .Site.Params.UtterancesIssueTerm }}"
				{{ if .Site.Params.UtterancesLabel }}label="{{ . }}"{{ end }}
				theme="{{ with .Site.Params.UtterancesTheme }}{{ . }}{{else}}github-light{{ end }}"
				crossorigin="anonymous"
				async>
		</script>
	</div>
{{ end }}