<footer class="post-footer clearfix">
	<p class="post-tags">
	    {{ if .Params.categories }}
			<span>Categories:</span>
			{{ $len := len .Params.categories }}
			{{ range $index, $tag := .Params.categories }}
				<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
				{{- if lt $index (sub $len 1) -}}, {{ else }} | {{ end }}
			{{ end }}
		{{ end}}
		
	    {{ if .Params.tags }}
			<span>Tagged:</span>
			{{ $len := len .Params.tags }}
			{{ range $index, $tag := .Params.tags }}
				<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
				{{- if lt $index (sub $len 1) -}}, {{ end }}
			{{ end }}
		{{ end}}
	</p>

	{{ partial "share.html" . }}
</footer>