{{ if .Params.featured }}
	<span class="post-taxonomy-featured" title="Featured">Featured</span>
{{ end }}

{{ if .Params.categories }}
	<a href="{{ "/categories/" | relLangURL }}" title="Catergory">Category</a>
	{{ range $index, $categories := .Params.categories }}
		<a class="post-taxonomy-categories" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}/" title="Category: {{ . }}">{{ . }}</a>
	{{ end }}
{{ end }}

{{ if .Params.series }}
	<a href="{{ "/series/" | relLangURL }}" title="Series">Series</a>
	{{ range $index, $series := .Params.series }}
		<a class="post-taxonomy-series" href="{{ "/series/" | relLangURL }}{{ . | urlize }}/" title="Series: {{ . }}">{{ . }}</a>
	{{ end }}
{{ end }}

{{ if .Params.tags }}
	<a href="{{ "/tags/" | relLangURL }}" title="Tags">Tags</a>
	{{ range $index, $tag := .Params.tags }}
		<a class="post-taxonomy-tags" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/" title="Tag: {{ . }}">{{ . }}</a>
	{{ end }}
{{ end }}